<div class="grid grid--center col-100">
    <h1 class="text-0 mb-4">TCM HOME</h1>

    <div class="col-100 grid grid--center mt-4">
        <button [routerLink]="['/ships']" class="button m-1">
            <h4 class="mb-0">Show ships</h4>
        </button>
        <button [routerLink]="['/docks']" [state]="{ breadcrumb: 'ciao' }" class="button m-1">
            <h4 class="mb-0">Show docks</h4>
        </button>
    </div>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <router-outlet></router-outlet>
</div>
